{
 :paths   ["." "src" "resources"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.12.0"}
           org.slf4j/slf4j-api                      {:mvn/version "2.1.0-alpha1"}
           com.taoensso/telemere                    {:mvn/version "1.0.0-RC2"}
           com.taoensso/telemere-slf4j              {:mvn/version "1.0.0-RC2"}
           cheshire/cheshire                        {:mvn/version "5.13.0"}
           hato/hato                                {:mvn/version "1.0.0"}
           net.clojars.wkok/openai-clojure          {:mvn/version "0.22.0"}
           com.google.genai/google-genai            {:mvn/version "0.2.0"}
           ;com.google.cloud/google-cloud-aiplatform {:mvn/version "3.58.0"}
           babashka/babashka.pods                   {:mvn/version "0.2.0"}
           mount/mount                              {:mvn/version "0.1.21"}
           aero/aero                                {:mvn/version "1.1.6"}
           com.microsoft.playwright/playwright      {:mvn/version "1.50.0"}}

 :aliases {
           :dev {:extra-deps  {nrepl/nrepl           {:mvn/version "1.3.1"}
                               cider/cider-nrepl     {:mvn/version "0.52.1"}
                               org.clojure/tools.cli {:mvn/version "1.1.230"}
                               viebel/klipse-repl    {:mvn/version "0.2.3"}}
                 :extra-paths ["dev"]
                 :main-opts   ["-m" "dev"]}}
 }
